@import url(variables.css);
@import url(general.css);
@import url(general-responsive.css);

section {
  max-width: var(--max-width);
}

section:not(:first-child) {
  margin-top: 4rem;
}

section.header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  .wrapper p {
    margin-top: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  img {
    width: min(40vw, 550px);
    aspect-ratio: 4/2;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

section.services {
  margin-top: 4rem;

  h2 {
    text-align: center;
  }
}

.services .wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services .services__wrapper {
  flex-basis: calc(50% - 1rem);
}

/* Collapsibles css */
.services__wrapper h3 {
  margin-bottom: 0.5rem;
}

.services__wrapper a {
  color: var(--primary);

  &:hover {
    color: var(--primary-hover);
  }

  &:active {
    color: var(--primary-active);
  }
}

.services .services__wrapper {
  background-color: var(--background-elevated);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  transition: background-color 150ms ease;
  cursor: pointer;
  height: fit-content;
}

.services .services__wrapper:hover {
  background-color: var(--secondary-hover);
}

.collapsible {
  overflow: hidden;
  max-height: 0;
}

.active {
  max-height: fit-content;
}

.collapsible>ul {
  max-height: 0;
  margin-top: 1rem;
  transition: max-height 200ms ease;
}

.collapsible ul {
  margin-left: 2rem;
}

.active ul {
  max-height: fit-content;
}

@media (width < 876px) {
  section.header {
    flex-direction: column;

    img {
      width: 70vw;
    }
  }
}

@media (width < 600px) {
  section.header img {
    width: 100%;
  }
}