@import url(variables.css);
@import url(general.css);
@import url(general-responsive.css);

:root {
  --map-height: 350px;
}

section {
  width: var(--max-width);
  margin: 0 auto;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url("/img/pexels-olly-840996.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.banner h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

section.contact {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.contact .address {
  padding: 2rem 0 0 0;
}

.contact>* {
  width: 50%;
}

.contact .address ul {
  list-style: none;
}

.address ul li {
  /* font-weight: bold; */
  max-width: 400px;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mapouter {
  margin-top: 1rem;
  position: relative;
  text-align: right;
  width: 85%;
  height: var(--map-height);
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  border-radius: var(--border-radius);
  width: 100%;
  height: var(--map-height);
}

.gmap_iframe {
  height: var(--map-height) !important;
}

.contact .message {
  border-radius: var(--border-radius);
  background-color: var(--background-elevated);
  padding: 2rem;
  height: fit-content;
}

.contact .message form {
  display: flex;
  flex-direction: column;
}

.message form label {
  margin: 1rem 0 .2rem 0;
}

.message form input,
.message form textarea {
  padding: .5rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  outline: none;
  border: var(--secondary) 1px solid;
  color: var(--text);
  background-color: var(--_form-color);
  transition: border 100ms ease-out;
}

.message form textarea {
  resize: vertical;
  min-height: 3rem;
}

.message form input:focus,
.message form textarea:focus {
  border: var(--primary) 1px solid;
}

.message form button {
  width: fit-content;
  margin-top: 1.5rem;
}

section.stay-connected {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url("/img/scada.jpg");
  object-fit: cover;
  background-position-y: 50%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  gap: 1rem;
  border-radius: var(--border-radius);

  h2,
  p {
    text-align: center;
  }

  p {
    font-size: 1.2rem;
  }

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
  }
}

@media (width < 876px) {
  section.contact {
    flex-direction: column;
    margin-top: 2rem;
  }

  .mapouter {
    width: 100%;
  }

  .contact .address {
    padding: 2rem;
  }

  .contact>* {
    width: 100%;
  }
}