@import url(variables.css);
@import url(general.css);

section {
  width: var(--max-width);
  margin: 0 auto;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)),
    url("/img/pexels-olly-840996.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
}

.banner h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

section.contact {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
}

.contact .address {
  padding: 2rem 0 0 0;
}

.contact>* {
  width: 50%;
}

.contact .address ul {
  list-style: none;
}

.address ul li {
  /* font-weight: bold; */
  max-width: 400px;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact .message {
  border-radius: var(--border-radius);
  background-color: var(--background-elevated);
  padding: 2rem;
}

.contact .message form {
  display: flex;
  flex-direction: column;
}

.message form label {
  margin: 1rem 0 .2rem 0;
}

.message form input,
.message form textarea {
  padding: .5rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  outline: none;
  border: var(--secondary) 1px solid;
  color: var(--text);
  background-color: var(--_form-color);
  transition: border 100ms ease-out;
}

.message form textarea {
  resize: vertical;
  min-height: 3rem;
}

.message form input:focus,
.message form textarea:focus {
  border: var(--primary) 1px solid;
}

.message form button {
  font-weight: 500;
  padding: .7rem 1.5rem;
  width: fit-content;
  margin-top: 1.5rem;
  background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
  transition: background-color 100ms ease-out, box-shadow 150ms ease;
}

.message form button:hover {
  background-color: var(--primary-hover);
  box-shadow: 0 0 35px var(--primary-box-shadow);
}

.message form button:active {
  background-color: var(--primary-active);
  box-shadow: 0 0 50px var(--primary-box-shadow);
}

footer {
  border-top: 1px solid var(--secondary-hover);
  text-align: center;
  padding: 2rem;
}

footer p:first-child {
  margin-bottom: 1rem;
}

footer span {
  color: var(--accent);
}

@media (width < 876px) {
  section.contact {
    flex-direction: column;
    margin-top: 2rem;
  }

  .contact .address {
    padding: 2rem;
  }

  .contact>* {
    width: 100%;
  }
}