@import url(variables.css);
@import url(general.css);
@import url(general-responsive.css);

.section-1 h1 {
  font-size: var(--h1-size);
  color: var(--primary);
}

section {
  max-width: var(--max-width);
}

section:not(:first-child) {
  margin-top: 4rem;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-height: 50vh;
}

.section-1 p {
  margin-top: 1rem;
}

.section-1 img {
  width: min(40vw, 550px);
  aspect-ratio: 4/2;
  object-fit: cover;
  border-radius: var(--border-radius);
}

section.experiences {
  margin-top: 2rem;

  .table-wrapper {
    overflow: scroll;
  }

  h2 {
    text-align: center;
  }

  table {
    margin-top: 2rem;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid var(--secondary);
    border-collapse: collapse;
    padding: .5rem;
  }

  table tr:nth-child(odd) {
    background-color: var(--background-elevated);
  }

  tr th {
    background-color: var(--secondary-hover);
  }

  .table-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
  }
}

.year-cell {
  width: fit-content;
}

.desc-cell {
  width: 60%;
}

.category-cell {
  width: 16%;
}

.client-cell {
  width: 20%;
}

.arrow {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.arrow img {
  height: 1rem;
}

.arrow:has(a.disabled) {
  filter: brightness(50%);

  a:hover {
    cursor: default;
    color: var(--primary);
  }

  a:active {
    color: var(--primary);
  }
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  h2,
  p {
    text-align: center;
  }
}

@media (width < 876px) {
  .section-1 {
    flex-direction: column;
  }

  .section-1 img {
    width: 85vw;
  }
}

@media (width < 600px) {
  main {
    margin: 7rem auto 2rem auto;
  }

  .section-1 img {
    width: 100%;
  }
}