@import url(variables.css);
@import url(general.css);
@import url(general-responsive.css);

main {
  margin-top: 13rem;
}

section {
  max-width: var(--max-width);
}

section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  h1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    ;
    /* color: var(--primary); */
  }

  p {
    margin-top: 1rem;
  }

  img {
    width: min(40vw, 550px);
    aspect-ratio: 4/2;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

section.ict-solutions {
  margin-top: 6rem;

  h2,
  p#tag {
    text-align: center;
  }

  p#tag {
    margin-top: .5rem;
  }

  .wrapper {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .wrapper .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1rem; */
    width: 300px;

    h3 {
      width: 100%;
    }

    p {
      margin-top: .5rem;
      text-align: left;
    }

    img {
      width: 50%;
      margin: 2rem;
      filter: invert(.8);
    }
  }
}

section.benefits {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  h2 {
    text-align: center;
  }

  .wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .wrapper .card {
    width: calc(25%-0.5rem);
    display: flex;
    padding: 1.5vw;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 25%;
    background-color: var(--background-elevated);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary);
  }

  .card img {
    width: 100px;
    height: 100px;
    padding: 0 1rem;
  }
}

@media (width < 876px) {
  section.header {
    flex-direction: column;

    img {
      width: 80vw;
    }
  }

  section.benefits {
    .wrapper {
      flex-wrap: wrap;
    }

    .wrapper .card {
      flex-basis: 45%;
      padding: 1.5rem;
    }
  }
}

@media (width < 600px) {
  main {
    margin-top: 7rem;
  }

  section.header img {
    width: 100%;
  }

  section.ict-solutions .wrapper .card {
    width: 100%;

    img {
      width: 40vw;
    }
  }

  section.benefits {
    &>div {
      flex-basis: 90%;
    }

    .benefits img {
      width: 100px;
      height: 100px;
    }

    .wrapper .card {
      flex-basis: 90%;
    }
  }
}