@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #9CB5E2;
  --secondary: #3B2F65;
  --accent: #AAC030;
  --red: FA4141;
  --background: #060A0E;
  --background-elevated: hsl(210, 39%, 10%);
  --text: #E7ECF4;

  --text-hover: hsl(217, 37%, 85%);
  --primary-hover: hsl(219, 55%, 65%);
  --primary-active: hsl(219, 55%, 55%);
  --primary-box-shadow: hsla(219, 55%, 60%, 0.4);
  --secondary-hover: hsl(253, 36%, 18%);
  --background-transparent: hsla(210, 40%, 4%, 0.5);
  --_form-color: #0F1A24;

  --border-radius: 5px;
  --max-width: min(1280px, 90vw);
  --h1-size: clamp(1.5rem, 4vw, 3rem);
  --montserrat: "Montserrat", system-ui;
  --inter: "Inter", system-ui;
}